* {
    margin: 0px;
    padding: 0px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
    touch-action: none;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

:root {
    --first-dark-color: #0b0b0bff;
    --second-dark-color: #3f3f3fff;
    --first-green-color:#3cd469ff;
    --first-purple-color: #c359f9ff;
    --second-purple-color: #e7bcfdff;
    --first-white-color: #FFFFFFFF;
    --logo-font: 'Black Han Sans', sans-serif;
    --first-font: 'Roboto', sans-serif;
    --first-font-bold: 'Roboto@wght:800', sans-serif;
    --first-font-bolder: 'Roboto@wght:900', sans-serif;
    --shelf-width: calc(100vw - 12px); /*Total minus scrollbar width*/
    --shelf-heigh: 160px;
    --cover-width: 200px;
    --cover-height: 120px;
}

*::-webkit-scrollbar {
    width: 12px;
}
*::-webkit-scrollbar-track {
    background: var(--first-dark-color);
}
*::-webkit-scrollbar-thumb {
    background-color: var(--second-dark-color);
    border-radius: 20px;
    border: 3px solid var(--first-dark-color);
}

html, body {
    background-color: var(--first-dark-color);
    color: var(--first-white-color);
}

noscript {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: var(--second-purple-color);
    font-family: var(--first-font);
    font-size: 14px;
    font-weight: 700;
}

.display-none {
    display: none;
}

#loader {
    border: 5px solid var(--first-white-color);
    border-radius: 50%;
    border-top: 5px solid var(--first-purple-color);
    border-right: 5px solid var(--first-purple-color);
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

ul {
    list-style-type: none;
}