* {
    margin: 0px;
    padding: 0px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
    touch-action: none;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

:root {
    --first-dark-color: #0b0b0bff;
    --second-dark-color: #3f3f3fff;
    --first-green-color:#3cd469ff;
    --first-purple-color: #c359f9ff;
    --second-purple-color: #e7bcfdff;
    --first-white-color: #FFFFFFFF;
    --logo-font: 'Black Han Sans', sans-serif;
    --first-font: 'Roboto', sans-serif;
    --first-font-bold: 'Roboto@wght:800', sans-serif;
    --first-font-bolder: 'Roboto@wght:900', sans-serif;
    --shelf-width: calc(100vw - 12px); /*Total minus scrollbar width*/
    --shelf-heigh: 160px;
    --cover-width: 200px;
    --cover-height: 120px;
}

*::-webkit-scrollbar {
    width: 12px;
}
*::-webkit-scrollbar-track {
    background: var(--first-dark-color);
}
*::-webkit-scrollbar-thumb {
    background-color: var(--second-dark-color);
    border-radius: 20px;
    border: 3px solid var(--first-dark-color);
}

html, body {
    background-color: var(--first-dark-color);
    color: var(--first-white-color);
}

body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: hidden;
    font-family: var(--first-font), sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: var(--first-white-color);
}

noscript {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: var(--second-purple-color);
    font-family: var(--first-font);
    font-size: 14px;
    font-weight: 700;
}

.display-none {
    display: none;
}

#loader {
    border: 5px solid var(--first-white-color);
    border-radius: 50%;
    border-top: 5px solid var(--first-purple-color);
    border-right: 5px solid var(--first-purple-color);
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

ul {
    list-style-type: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.floatingMascot {
    margin-top: -0.8em;
    width:80px;
    height:80px;
    -webkit-filter: drop-shadow(black -0.1em 0.25em 0.2em);
    filter: drop-shadow(black -0.1em 0.25em 0.2em);
    position: relative;
    animation: mymove 2.3s infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes mymove {
    from {top: 0.7em;}
    to {top: 0em;
        -webkit-filter: drop-shadow(black -0.17em 0.6em 0.23em);
        filter: drop-shadow(black -0.17em 0.6em 0.23em);
    }
}

#header, #headerBarLeft, #headerBarRight {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header {
    background-color: #000000dd;
    box-shadow: black 0em 0.1em 1em;
    margin: 0px;
    justify-content: space-between;
    z-index: 100100 !important;

    /*always visible top menu: */
    position: -webkit-sticky; /* Required to working on Safari */
    position: sticky;
    top: 0;
}

#headerBarLeft, #headerBarRight {
    margin: 5px 20px 5px 15px;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    vertical-align: baseline;
}

#headerBarLogo{
    display: inline;
    min-width: max-content;
}

#headerBarMenu {
    display: inline;
    min-width: max-content;
    margin-left: 20px;
}

#navBar ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
#navBar li {
    margin-right: 10px;
}
#navBar a {
    text-decoration: none;
    color: var(--first-white-color);
}